.trips-details-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 50px;

  .trip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $default-box-shadow;
    padding: 25px;
    margin: 15px;
    width: 315px;

    p {
      margin-bottom: 10px;
      color: $communist-red;
    }

    p:nth-child(2) {
      color: black;
    }

    h4 {
      color: black;
      font-size: 1em;
      margin-bottom: 10px;
    }

  }
}

.trip-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
