.welcome-user-card {
  width: 60%;
  height: 765px;
  display: none;
  box-shadow: $default-box-shadow;
  overflow: scroll;
  position: relative;

  .submit-cal-trip-btn {
    text-align: center;
    margin-top: 20px;
  }


  button {
    padding: 10px;
    border: solid $communist-red;
    border-radius: 10%;
    background-color: $communist-yellow;
    margin: 0px 32px;
    font-family: inherit;
    font-size: 1.2em;

    &:hover {
      background-color: $communist-red;
      color: $communist-yellow;
    }
  }

  .info-card {
    display: flex;
    align-items: center;
    flex-direction: column;

      span {
        color: $communist-red;
      }


    h2 {
      margin-left: 0;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      padding: 10px;
      color: $communist-red;
      font-size: 1em;
      display: flex;
    }



  }
}


.the-great-leader {
  border: 4px solid $communist-red;
  width: 400px;
  height: 350px
}

.trip-deny-approve-section {
  display: flex;
}


.approve-trip-btn,
.deny-trip-btn {
  width: 6.2em;
  height: 2.7em;
  font-size: 1em !important;
}


//
