@import 'variables';
@import 'main-section';
@import 'log-in-window';

* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
}

body {
  background-color: $grey-background;
  font-family: $heading-font;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $heading-font;
  color: white;
  font-size: 4em;
}
